<nav><a href="/">Главная</a> | <a href="/api/Bayazitova/first">Задача 1</a> |
    <a href="/api/Bayazitova/second">Задача 2</a> |
    <a href="/api/Bayazitova/third">Задача 3</a> | <a href="/registration">Регистрация</a></nav>