<!DOCTPE html>
<html>
    <head>
        <title>{{title}}</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <h2>{{title}}</h2>
        <p>Это задачи: {{name}}</p>
    </body>

</html>