<!DOCTYPE html>
<html>
    <head>
        <title>Результат задачи №{{number}}</title>
    </head>
    <body>
        {{> menu}}
            <h2>Запрос: {{request}}</h2><br>
            <p>Ответ: {{result}}</p>
        {{> footer}}
    </body>
</html>